
.lables {
  color: #453f3f;
}
.error {
  color: red;
  font-size: 14px;
}

.password-rules ul li {
  color: white;
}

.center-buttons {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.alignment {
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.form-container {
  background: #453f3f;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  margin: 0 auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form-title {
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}
